<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="student" class="com.test.beans.Student" autowire="byType">
		<property name="sno" value="9999" />
		<property name="sname" value="Tim" />
		<!-- <property name="course" ref="courseRef" />-->
		<property name="address" ref="addressRef" />
	</bean>

	<!-- <bean id="student1" class="com.test.beans.Student">
		<property name="sno" value="4567" />
		<property name="sname" value="Jhon" />
		<property name="course">
			<bean class="com.test.beans.Course">
				<property name="cid" value="Btech" />
				<property name="cName" value="Computer Science" />
			</bean>
		</property>
		<property name="address" ref="addressRef" />
	</bean> -->

	<bean id="courseRef" class="com.test.beans.Course">
		<property name="cid" value="Ms" />
		<property name="cName" value="Computer Science" />
	</bean>

	<bean id="addressRef" class="com.test.beans.Address">
		<constructor-arg name="zipCode" value="45678" />
		<constructor-arg name="city" value="Minneapolis" />
		<constructor-arg name="street" value="452 W Rd" />
	</bean>
	
	<!-- <bean id="addressRef1" class="com.test.beans.Address">
		<constructor-arg name="zipCode" value="45678" />
		<constructor-arg name="city" value="Minneapolis" />
		<constructor-arg name="street" value="452 W Rd" />
	</bean> -->
</beans>